 /*.nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    
    
}


nav.nav {
    background-color: rgb(6, 56, 173);
    
}

.nav h1{
    margin:0;
    font-size: 40px;
    color: white;
}



.nav ul{
    display: inline-flex;
    list-style-type: none;
    padding:0;
    margin:0;

}

 

.nav li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding-right: 10px;
}


.nav .nav-search{
    display: flex;
    flex: 1;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 5%;
    margin-left: 5%;

}



.nav .nav-search input{
flex:1;
color: blueviolet;
border: 1px solid blueviolet;
height: 35px;
border-right: 0px;

}


.nav .nav-search button{
color: blueviolet;
border: 1px solid blueviolet;
height: 35px;
border-left: 0px;

}

h1 a{
    text-decoration: none;
    color: white;
}

.suggested-result{
    position: absolute;
       display: list-item ! IMPORTANT;
    z-index: 10;
    background-color: #fff;
    width: 300px;
    top:40px;
    border: 1px solid #ddd;
}

.suggested-result li {
    border: 1px solid #ddd;
    cursor: pointer;
}

.logo {
  height: 160px;  
  width: auto;
  display: block;
}

.nav-brand {
  display: flex;
  align-items: center;
}




@media (max-width: 768px) {

  .nav {
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 10px;
  }

  .nav-search {
    order: 3;
    width: 100%;
    margin: 10px 0;
  }

  .nav ul {
    order: 2;
    width: 100%;
    display: block;
    text-align: center;
  }

  .nav li {
    padding: 8px 0;
  }

  .nav .nav-search input,
  .nav .nav-search button {
    height: 38px;
  }
} 
*/




 
.custom-nav {
  background-color: rgb(6, 56, 173);
  padding: 8px 16px;
}

.logo {
  height: 55px;
  width: auto;
  display: block;
}

.nav-link {
  color: #ffffff !important;
}



.nav-search {
  display: flex;
  align-items: center;


}

.nav-search input {
  flex: 1;
  height: 35px;
  border: 1px solid blueviolet;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-right: none;
  color: blueviolet;

}

.nav-search button {
  height: 35px;
  border: 1px solid blueviolet;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-left: none;
  background: white;
  color: blueviolet;
}

.navbar-toggler {
  border-color: #fff;
}

/* .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath stroke='%23fff' d='M1.5 3.5h13M1.5 8h13M1.5 12.5h13'/%3E%3C/svg%3E");
} */


@media (max-width: 768px) {
  .nav-search {
    width: 100%;
    margin-top: 10px;
  }
} 



