.nav{
    display: flex;
    justify-content: space-between;
}

.nav h1{
    margin:0;
    font-size: 40px;
    color: blueviolet;
}

.nav ul{
    display: inline-flex;
    list-style-type: none;
    padding:0;
    margin:0;
}

.nav li{
    padding-left: 15px;
    padding-top: 15px;
}

.nav li a{
    text-decoration: none;
    color: blueviolet;
}


.nav .nav-search{
    display: flex;
    flex: 1;
    margin-top: 5px;
    margin-right: 5%;
    margin-left: 5%;

}



.nav .nav-search input{
flex:1;
color: blueviolet;
border: 1px solid blueviolet;
height: 35px;
border-right: 0px;

}


.nav .nav-search button{
color: blueviolet;
border: 1px solid blueviolet;
height: 35px;
border-left: 0px;

}

h1 a{
    text-decoration: none;
    color: blueviolet;
}