ul{
    margin:0;
    padding:0;
}

.footer{
    padding: 10px;
    text-align: center;
    bottom: 0;
    right: 0;
    left:0;
    background-color: rgb(4, 31, 94);
    
}
.footer p{
    padding-top: 10px;
    text-align: center;
    color:rgba(211, 210, 210, 0.693);
}

/* .footer ul{
 list-style-type: none;
 display: flex;
 justify-content: space-between;
} */

.footer ul li a{
    color:rgba(211, 210, 210, 0.693);
    text-decoration: none;
}
