table{
    text-align: left;
    color:blueviolet;
    border-collapse: collapse;
}

table td, table th{
    border: 1px solid blueviolet;
    padding: 10px;
    min-height:160px;
}

img{
    width:100px;
    height: 100px;  
    border-radius: 10px;
}

.adjust-update-link{
   margin-left: 5px;
   color:blueviolet
}

.product-list{
    margin-bottom: 150px;
}