table{
    text-align: center;
    color:blueviolet;
    border-collapse: collapse;
    margin:auto;
    margin-bottom: 20px;
}

table td, table th{
    border: 1px solid blueviolet;
    padding: 10px;
    min-height:160px;
}

img{
    width:100px;
    height: 100px;  
    border-radius: 10px;
}

.adjust-update-link{
   margin-left: 5px;
   color:blueviolet
}


.text-head{
    text-align: center;
    padding: 14px;
     color:blueviolet
}