.sign-up,.log-in {
    text-align: center;
}

.sign-up h1, .log-in h1 {
    margin-top: 80px;
    margin-bottom: 50px;
    color: blueviolet;
}


.auth-toggle-link{
    cursor:pointer;
    color:blueviolet;
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
}

.error-p{
    color: red;
    font-size: 14px;
}