/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

body{
    font-family: sans-serif;

}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

.common-form{
    display: flex;
    text-align: center;
    margin: auto;
    flex-direction: column;
    width:300px;
}

.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;
    color: blueviolet;
}

.form-button{
height: 35px;
border: 1px solid blueviolet;
cursor: pointer;
}


.message-p{
    color:green
}


.carousel-caption{
    background-color:rgba(25, 24, 24, 0.453) ;
    border-radius: 5px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
 background-color: black ;
    border-radius: 5px;
}

.invalid-input{
    color: red;
    font-size: 12px;
    margin-top: -20px;
    text-align: start;
}
 
