/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

body{
    font-family: sans-serif;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}



.common-form {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 400px;
    background: #ffffffcc;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.546);
}


.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    color: blueviolet;
}

.form-button{
margin-top: 12px;
height: 35px;
border: 1px solid blueviolet;
border-radius: 10px;
cursor: pointer;
}


.message-p{
    color:green;
    text-align: center;
}


.carousel-caption{
    background-color:rgba(25, 24, 24, 0.453) ;
    border-radius: 5px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
 background-color: black ;
    border-radius: 5px;
}

.invalid-input{
    color: red;
    font-size: 12px;
    margin-top: -20px;
    text-align: start;
}

.error-p{
    color: red;  
}


html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

app-footer, .footer {
  margin-top: auto;
} 


.label-input{
    text-align: start;
}

 