.search-item{
    margin: 25px auto;
    width: 800px;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.search-item img{
    width: 100%;
    object-fit: contain;
    height:150px;
}

.search-item h6{
    font-size: 24px;
    color: blueviolet;
}

.search-item  p{
    margin:5px
}

.search-item span{
    margin-right:10px;
}


/* 
<div class="seller-auth">
    @if (!showLogin) { <div class="sign-up">

        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <h1>Sign-Up</h1>
            <input class="form-input" type="text" ngModel name="name" placeholder="enter name" />
            <input class="form-input" type="password" ngModel name="password" placeholder="enter password"
                #password="ngModel" required minlength="4" maxlength="10" />
            <p class="invalid-input">
                @if(password.invalid && password.touched){
                <span>Please Enter Valid Input</span>
                }
            </p>
            <input class="form-input" type="email" ngModel name="email" placeholder="enter email" #email="ngModel"
                required email />
                <p class="invalid-input">
                    @if(email.invalid && email.touched){
                        <span>Please Enter Valid Input</span>
                    }
                </p>
            <button [disabled]="sellerSignUp.invalid" class="form-button">SignUp</button> 
            <p class="auth-toggle-link">Already Have Account? <a (click)="openLogin()">click to login</a></p>
        </form>
    </div>
    }



    <!-- login -->

    @if (showLogin) {<div class="log-in">

        <p class="error-p">{{authError}}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
            <h1>Seller LogIn</h1>
            <input class="form-input" type="email" ngModel name="email" placeholder="enter email" #email="ngModel" required email/>
            <p class="invalid-input">
                @if(email.invalid && email.touched){
                    <span>Please Enter Valid Input</span>
                }
            </p>
            <input class="form-input" type="password" ngModel name="password" placeholder="enter password" #password="ngModel" required minlength="4" maxlength="10"/>
            <p class="invalid-input">
                @if(password.invalid && password.touched){
                    <span>Please Enter Valid Input</span>

                }
            </p>
            <button [disabled]="sellerLogin.invalid" class="form-button">LogIn</button>
            <p class="auth-toggle-link">Don't Have Account? <a (click)="openSignUp()"> click to SignUp</a></p>
        </form>
    </div>
    }

</div> */





/* 
<div class="user-auth">
@if (showLogin){
<div class="user-signup">

    <form #userSignUp="ngForm" class="common-form" (ngSubmit)="signUp(userSignUp.value)">
         <h1>User Sign-up</h1>
        <input type="text" class="form-input" placeholder="Enter User Name" name="name" ngModel>
        <input type="text" class="form-input" placeholder="Enter User Email" name="email" ngModel #email="ngModel" required email />
          <p class="invalid-input">
            @if(email.invalid && email.touched){
                <span >Please Enter Valid Input</span>
            }</p>
        <input type="password" class="form-input" placeholder="Enter User Password" name="password" ngModel #password="ngModel" required minlength="4" maxlength="10" />
         <p class="invalid-input">
            @if(password.invalid && password.touched){
                <span >Please Enter Valid Input</span>
            }</p>
        <button [disabled]="userSignUp.invalid" class="form-button">SignUp</button>
        <p>Already Have Account ? <a (click)="openLogin()">LogIn</a></p>
    </form>
</div>
}
@if (!showLogin){
<div class="user-login">
   
    <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
        <h1>User Login</h1>
        <p class="error-p">{{authError}}</p>
        <input type="text" class="form-input" placeholder="Enter User Email" name="email" ngModel #email="ngModel" required email/>
        <p class="invalid-input">
            @if(email.invalid && email.touched){
                <span >Please Enter Valid Input</span>
            }</p>
        <input type="password" class="form-input" placeholder="Enter User Password" name="password" ngModel #password="ngModel" required minlength="4" maxlength="10" />
         <p class="invalid-input">
            @if(password.invalid && password.touched){
                <span >Please Enter Valid Input</span>
            }</p>
        <button [disabled]="userLogin.invalid" class="form-button">LogIn</button>
        <p>Want to Create Account ?<a (click)="openSignup()">Click Here</a></p>
    </form>
</div>
}
</div> */