.update-product{
    text-align: center;
<<<<<<< HEAD
=======

>>>>>>> 197b2f7fd4797d94a9b7b2bbe65c32b1dcfeb125
}

h1{
    color: blueviolet;
<<<<<<< HEAD
=======
}

.update-p{
    color:green;
>>>>>>> 197b2f7fd4797d94a9b7b2bbe65c32b1dcfeb125
}